<link rel="stylesheet" core-href="core/css/widgets/json-component.css"/>

<div class="list-component-test stingray-panel fullscreen" ng-controller="mithrilListController">
    <div>
        Nb Properties: {{propTotal}} (enable only one side at a time or else you evaluate mithril perf twice)
    </div>
    <div class="toolbar">
        <span class="" style="width: 50%;">
            <input type="checkbox" ng-model="normal" title="Enable Angular"/>
            Normal
        </span>
    </div>

    <div class="panel-fill panel-flex-horizontal fullscreen">
        <div class="panel-fill property-edition adsk-property-object-view" >
            <component-harness ng-if="normal" args="argsNormal" component="JsonComponent"></component-harness>
        </div>
    </div>
</div>

