<div class="spinner-component-test stingray-panel fullscreen" ng-controller="mithrilSpinnerController">
    <div class="toolbar">
        <button class="standard-btn" ng-click="redraw()">Redraw</button>
        <button class="standard-btn" ng-click="redrawAll()">Redraw all</button>
        <button class="standard-btn" ng-click="randomize()">Randomize</button>
    </div>

    <div class="panel-fill panel-flex-horizontal fullscreen">
        <div class="panel-fill" style="overflow: auto">
            <div class="spinner-anchor" />
        </div>
    </div>
</div>
