<div class="spinner-component-test stingray-panel fullscreen" ng-controller="mithrilSpinnerController">
    <div class="toolbar">
        <span class="" style="width: 50%;">
            <input type="checkbox" ng-model="angularEnabled" title="Enable Angular"/>
            Angular
        </span>
        <span class="" style="width: 50%">
            <input type="checkbox" ng-model="mithrilEnabled" title="Enable Mithril"/>
            Mithril
        </span>
    </div>

    <div class="panel-fill panel-flex-horizontal fullscreen">
        <!--
        ngModel: '=',
                ngReadonly: '=?', // boolean to disable text input, default to false (optional)
                disabled:'=ngDisabled',
                descriptor: '=?', // property descriptor (optional)
                showLabel: '=?', // boolean value to show axis labels, default to false (optional)
                ngPlaceholder: '@', // string value for placeholder, default to '' (optional)
                defaultValue: "=?", // If not dragging, number value when resetting with right click, default to 0 (optional)
                noDecimal: "&", // boolean value to prevent decimals, default to false (optional)
                label: "@", // string label (optional),
                min: '=?',
                max: '=?',
                step: '=?'
        -->
        <div class="panel-fill" >
            <adsk-spinner ng-if="angularEnabled"  ng-model="numberProxy(angularValue).value" default-value="42" label="X" min="min" max="max" step="step" show-label="true"></adsk-spinner>
        </div>

        <div class="panel-fill" >
            <component-harness ng-if="mithrilEnabled" args="spinnerArgs" component="Spinner"></component-harness>
        </div>

    </div>
</div>
